body {
  padding: 40px inherit;
}
#status, #save{
  margin-top: 5px;
}
#status:empty{
  display: none;
  margin:0;
  padding:0;
  border:0;
}
a.navbar-brand img, a.navbar-brand span{
  float: left;
}
